<html>
<head>
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<title>Delete Menu Item</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
	
	<div class="container">
		<h2>Delete {{item.name}}?<small>Make sure you want to go through with this</small></h2>

		<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
			<form action="{{url_for('delete_menu_item', restaurant_id=restaurant_id, menu_id=menu_id)}}" method='POST' class="form-inline">
				<button type="submit" class="btn btn-danger">
					Delete
				</button>
				<a href="{{url_for('restaurant_menu', restaurant_id=restaurant_id)}}" class="btn-succes">Cancel</a>
			</form>
		</div>

	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>