<html>
<head>
	<title>Edit Item</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>

	<div class="container">
		<div class="page-header">
			<h1>
				<a href="{{url_for('show_restaurants')}}">Best Restaurants</a>
				<small>All restaurants in the bay area</small>
				<ul class="pagination pagination-lg">
				  	{% if restaurant.id > 1 %}
				  		<li>
					      <a href="{{url_for('restaurant_menu', restaurant_id=restaurant.id-1)}}" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					 {% else %}
					 	<li class="disabled">
					 		<a href="#">
					 			<span aria-hidden="true">&laquo;</span>
					 		</a>
					 	</li>
				  	{% endif %}
				    
				    {% for i in range(1, count+1) %}
						{% if i == restaurant.id%}
							<li class="active"><a href="{{url_for('restaurant_menu', restaurant_id=i)}}">{{i}}</a></li>
						{% else %}
							<li><a href="{{url_for('restaurant_menu', restaurant_id=i)}}">{{i}}</a></li>
						{% endif%}
				    {% endfor %}

				    {% if restaurant.id < count %}
				  		<li>
					      <a href="{{url_for('restaurant_menu', restaurant_id=restaurant.id+1)}}" aria-label="Previous">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					 {% else %}
					 	<li class="disabled">
					 		<a href="#">
					 			<span aria-hidden="true">&raquo;</span>
					 		</a>
					 	</li>
				  	{% endif %}
				    
				  </ul>
			</h1>
		</div>
		<!-- <div class="jumbotron">
			<h2>{{restaurant.name}}</h2>
			<p>{{restaurant.description}}</p>
			<p><a href="{{url_for('new_menu_item', restaurant_id=restaurant.id)}}" class="btn btn-primary">Add Item</a></p>
		</div> -->
		<h2>Edit Menu Item<small>&nbsp;Edit your dish {{item.name}} here!</small></h2>
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
			<div class="panel panel-primary">
				<!-- <form action="{{url_for('edit_menu_item', restaurant_id=restaurant.id, menu_id=menu_id)}}" method="POST" class="form-horizontal">
					<div class="form-group">
						<label for="edit_menu_item">
							Update Item
						</label>
						<input type="text" id="edit_menu_item" name="name" class="form-control" value="{{item.name}}">
						<button type="submit" class="btn btn-success">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-ok"></span>
							</div>
							Update
						</button>
						<a href="{{url_for('restaurant_menu', restaurant_id=restaurant.id)}}" class="btn btn-default">Cancel</a>
					</div>
				</form> -->
				<div class="panel-heading">
					<h3 class="panel-title">Edit your item</h3>
				</div>
				<div class="panel-body">
					<form action="{{url_for('edit_menu_item', restaurant_id=restaurant.id, menu_id=menu_id)}}" method="POST"class="form-horizontal">
					  <div class="form-group">
					    <label for="edit_menu_item" class="col-sm-2 control-label">Name</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" name="name" id="edit_menu_item" value="{{item.name}}">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="edit_menu_item_price" class="col-sm-2 control-label">Price</label>
					    <div class="col-sm-10">
					    	<div class="input-group">
						  		<div class="input-group-addon">$</div>
						  		<input type="text" name="price" class="form-control" id="edit_menu_item_price" value="{{item.price[1:]}}">
						  	</div>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="edit_menu_item_description" class="col-sm-2 control-label">Description</label>
					    <div class="col-sm-10">
					    	<textarea name="description" name="description" class="form-control" id="edit_menu_item_description" rows="4">
					    		{{item.description}}
					    	</textarea>
					    </div>
					  </div>
					  <div class="form-group">
				  	
				  		<div class="col-sm-offset-2 col-sm-10">
					      <input type="submit" class="btn btn-default" value="Update">
					    </div>
						    	
					  	
					    
					  </div>
					</form>
				</div>

				<div class="panel-footer">
					<a href="{{url_for('restaurant_menu', restaurant_id=restaurant.id)}}" class="btn btn-success">
			    		<span class="glyphicon glyphicon-repeat"></span>&nbsp;Cancel
			    	</a>
				</div>
				
			</div>
		</div>
		
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>