<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Edit Restaurant</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>
					<a href="{{url_for('show_restaurants')}}">Best Restaurants</a>
					<small>All restaurants in the bay area</small>
				</h1>
			</div>
			
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</body>
</html>