<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Restaurant Menu Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>

<div class="container">
	<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
		<h4>
			<p>
				<!--MESSAGE FLASHING EXAMPLE -->
				{% with messages = get_flashed_messages() %}
				{% if messages %}

				<ul class="list-group">
				{% for message in messages %}
				  <li class="list-group-item list-group-item-success">{{message}}</li>
				  {% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
			</p>

		</h4>
	</div>
	<div class="page-header">
		<h1>
			<ul class="pagination pagination-lg">
			  	{% if restaurant.id > 1 %}
			  		<li>
				      <a href="{{url_for('restaurant_menu', restaurant_id=restaurant.id-1)}}" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				 {% else %}
				 	<li class="disabled">
				 		<a href="#">
				 			<span aria-hidden="true">&laquo;</span>
				 		</a>
				 	</li>
			  	{% endif %}
			    
			    {% for i in range(1, count+1) %}
					{% if i == restaurant.id%}
						<li class="active"><a href="{{url_for('restaurant_menu', restaurant_id=i)}}">{{i}}</a></li>
					{% else %}
						<li><a href="{{url_for('restaurant_menu', restaurant_id=i)}}">{{i}}</a></li>
					{% endif%}
			    {% endfor %}

			    {% if restaurant.id < count %}
			  		<li>
				      <a href="{{url_for('restaurant_menu', restaurant_id=restaurant.id+1)}}" aria-label="Previous">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				 {% else %}
				 	<li class="disabled">
				 		<a href="#">
				 			<span aria-hidden="true">&raquo;</span>
				 		</a>
				 	</li>
			  	{% endif %}
			    
			  </ul>
			  <a href="{{url_for('show_restaurants')}}">Best Restaurants</a>
			<small>All restaurants in the bay area</small>
		</h1>
	</div>
	<div class="jumbotron">
		<h2>{{restaurant.name}}</h2>
		<p>{{restaurant.description}}</p>
		<p><a href="{{url_for('new_menu_item', restaurant_id=restaurant.id)}}" class="btn btn-primary">Add Item</a></p>
	</div>
	<div class="col-md-12">
		{% for item in items %}
			<div class="col-md-4 col-sm-6 col-xs-6">
				<div class="thumbnail">
					<div class="caption">
						<h3>{{item.name}} <small>{{item.price}}</small> </h3>
						<p>
							{{item.description}}
						</p>
						<p>
							<a href="{{url_for('edit_menu_item', restaurant_id=restaurant.id, menu_id=item.id)}}" class="btn btn-primary">
								Edit
							</a>
							<a href="{{url_for('delete_menu_item', restaurant_id=restaurant.id, menu_id=item.id)}}" class="btn btn-danger">
								Delete
							</a>
						</p>
					</div>
					
				</div>
			</div>
		{% endfor %}
	</div>

	
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

</html>

