<html>
<head>
	<title>Restaurant Menu Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>

<div class="container">
	<h1>{{restaurant.name}}</h1>
	<div class="col-md-12">
		{% for item in items %}
			<div class="col-md-6 col-sm-8 col-xs-10">
				<div class="row">
					<h2>{{item.name}}<small>&nbsp;{{item.price}}&nbsp;</small></h2>
				</div>
				<div class="row">
					{{item.description}}
				</div>
				<div class="row">
					<a href="{{url_for('edit_menu_item', restaurant_id=restaurant.id, menu_id=item.id)}}" class="btn btn-primary">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					<a href="{{url_for('delete_menu_item', restaurant_id=restaurant.id, menu_id=item.id)}}" class="btn btn-danger">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

</html>