<!DOCTYPE html>
<html>
<head>
	<title>New Menu Item</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
	<h2>New Menu Item<small>&nbsp;Add your delicious dish here!</small></h2>
	
	<p class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
		<form action="{{url_for('new_menu_item', restaurant_id=restaurant_id)}}" method="POST" class="form-inline">
			<div class="form-group">
				<label for="new_menu_item">
					Your new menu item
				</label>
				<input type="text" id="new_menu_item" name="name" placeholder="New menu item" class="form-control">
				<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
				<a href="{{url_for('restaurant_menu', restaurant_id=restaurant_id)}}" class="btn btn-default">Cancel</a>
			</div>
		</form>
	</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>