<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Restaurant Menu Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>
				Best Restaurants
				<small>All restaurants in the bay area</small>
			</h1>
		</div>
		<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
			
			<ul class="list-group">
				{% for restaurant in restaurants %}
				<li class="list-group-item">
					<a href="{{url_for('restaurant_menu', restaurant_id=restaurant.id)}}">
						{{restaurant.name}}
						<span class="badge pull-right">
							{{menus[restaurant.id-1]}}
						</span>
					</a>
				</li>
				{% endfor%}
			</ul>
			
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>